<h2>Reviews Log</h2>
<br/>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th class="bs-only">Project</th>
        <th class="bs-only">Subject</th>
        <th class="ms-bs-only">Message</th>
    </tr>
    </thead>

    <tbody>
    <% reviews.forEach(row => { %>
        <tr class="log-table-row">
            <td><%= row.date %></td>
            <td><%= row.name %></td>
            <td class="bs-only"><%= row.project %></td>
            <td class="bs-only"><a target="_blank" href="<%= url %>/#q,<%= row.change_id %>,n,z"><%= row.subject %></a></td>
            <td class="ms-bs-only"><%= row.message %></td>
        </tr>
    <% }); %>
    </tbody>
</table>