<% include layout/head %>

<h2>Reviews Score</h2>
<h6><%= date_from %> - <%= date_to %></h6>

<br/>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th width="20">#</th>
        <th>Name</th>
        <th>Total</th>

        <% projects.forEach(project => { %>
            <th><%= project %></th>
        <% }) %>
    </tr>
    </thead>

    <tbody>


<% stats.forEach((row, idx) => { %>
<tr style="font-size: 12px;">
    <td><%= idx+1 %></td>
    <td><%= row.name %></td>
    <td><strong><%= row.count %></strong></td>
    <% projects.forEach(project => { %>
        <td><%= row['projects'][project] || 0 %></td>
    <% }) %>
</tr>

<% }); %>
    </tbody>
</table>


<br/>
<h2>Reviews Log</h2>
<br/>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Project</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>
    </thead>

    <tbody>
<% reviews.forEach(row => { %>
    <tr style="font-size:10px;line-height: 1px;white-space: nowrap;text-overflow: ellipsis;">
        <td><%= row.date %></td>
        <td><%= row.name %></td>
        <td><%= row.project %></td>
        <td><%= row.gerrit %></td>
        <td><%= row.message %></td>
    </tr>

<% }); %>
    </tbody>
</table>

<% include layout/bottom %>